<!--
  Generated template for the CommityRecievePaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Recieve Payment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background: url('assets/imgs/baki.jpg');  background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: #464646;" padding>


  <div class="logo" style="text-align: center;">
    <img alt="logo" src="https://www.smithhopen.com/mediakit/2012/Logo_Only/Logo_only_2400x2367.png" width="100px">
    <!-- <p class="slogan">Attitude Is A Little Thing That Makes A Big Difference</p> -->
  </div>


  <ion-item style="border-radius: 50px; margin-bottom: 15px; margin-top: 20px">
    <ion-label>Select Commity</ion-label>
    <ion-select (ionChange)="selectMyCommity($event)" [(ngModel)]="CommityType" interface="popover">
      <ion-option [value]="All">All</ion-option>
      <ion-option *ngFor="let arr of commity" [value]="arr.Key">{{arr.CommityName}}</ion-option>
      <!-- <ion-option value="numberSys">Number System</ion-option> -->
    </ion-select>
  </ion-item>

  <ion-row *ngIf="isShow" >
    <ion-col col-10 offset-1 >
      <ion-list>
        <ion-item style="border-radius: 50px; margin-bottom: 5px; background-color: gainsboro; opacity: 0.7;">
          <ion-label>Name : {{selectedComityName}}</ion-label>
        </ion-item>
        <ion-item style="border-radius: 50px; margin-bottom: 5px; background-color: gainsboro; opacity: 0.7;">
          <ion-label>Amount /Mon : {{selectedComityAmount}}</ion-label>
        </ion-item>
        <!-- <ion-item style="border-radius: 50px; margin-bottom: 5px; background-color: gainsboro; opacity: 0.7;">
          <ion-label>Curent Month : {{CurrentMonth}}</ion-label>
        </ion-item> -->
        <!-- <ion-item style="border-radius: 50px; margin-bottom: 5px; background-color: gainsboro; opacity: 0.7;">        
          <ion-label>Total Members : {{selectedComityMember}}</ion-label>
        </ion-item> -->
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-item style=" border-radius: 50px; margin-bottom: 5px;">
    <ion-label>Select Members</ion-label>
    <ion-select [(ngModel)]="SelectMember"  cancelText="Nah" okText="Okay!">
    <ion-option *ngFor="let arrmem of arr" [value]="arrmem.Key">{{arrmem.MemberName}}</ion-option>
    <!-- <ion-option value="bacon" selected="true">Bacon</ion-option> -->
    </ion-select>
  </ion-item>


  <ion-item style="border-radius: 50px; margin-bottom: 5px">
    <ion-label>Current Month :</ion-label>
    <ion-input type="text" [(ngModel)]="CurrentMonth"></ion-input>
  </ion-item>

    <ion-item style="border-radius: 50px; margin-bottom: 5px">
      <ion-label>Message Title :</ion-label>
      <ion-input [(ngModel)]="Title" type="text"></ion-input>
    </ion-item>

    <ion-item style="border-radius: 50px; margin-bottom: 5px">
      <ion-label>Message Body :</ion-label>
      <ion-input [(ngModel)]="Message" type="text"></ion-input>
    </ion-item>


    <br>
    <!-- <ion-item style="background: none"> -->
    <button ion-button  color="primary" (click)="addPayment()" full style="height: 30px;" round>Recieve Payment<br></button>

</ion-content>
